

header {
    display: flex;
    align-items: center;
    background-color: cornflowerblue;
    font-size: 21px;
}

img {
    border-style: ridge;
    margin: 10px;
}

main {
    margin: 8px;
    font-size: 20px;
    
}

h2 {
    padding-left: 25px;
    border-style: groove;
}

footer {
    margin-top: 50px;
    text-align: center;
    background-color: cornflowerblue;
    font-size: 19px;
}