



body {
    font-size: 20px;

}

/*----HEADER------*/

header {
    display: flex;
    margin: 8px;
    background-color: #75DCF3;
    border: #D1F0E9 solid;
}

h1 {
    margin: 8px;
   
}

/*----NAVIGATION------*/
nav {
    background-color: #75DCF3;
    margin: 8px;
    border: #D1F0E9 solid;
}

nav button {
    margin: .2rem 2vw;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}



nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,0.2);
}

nav ul li a:hover {
    background-color: #D1F0E9;
}

/*----MAIN------*/

main {
    margin: 8px;
}




/*----FOOTER------*/
Footer {
    margin: 8px;
}

