body {
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  
}

/*----HEADER------*/

header {
  display: flex;
  margin: 8px;
  background-color: #75dcf3;
  border: #d1f0e9 solid;
}

h1 {
  margin: 8px;
}

header #message {
  margin: 8px;
}

/*----NAVIGATION------*/
nav {
  background-color: #75dcf3;
  margin: 8px;
  border: #d1f0e9 solid;
}

nav button {
  margin: 0.2rem 2vw;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

nav ul.open {
  display: block;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  border-top: 2px solid rgba(204, 236, 234, 0.767);
}

nav ul li a:hover {
  background-color: #d1f0e9;
}

/*----MAIN------*/

main {
  margin: 8px;
  justify-items: center;
  background-color: bisque;
  border: #e1c0564d groove;
  
}

main section {
  display: grid;
}

main section div {
  padding: 1em;
  border-bottom: #d4af5f solid;
  margin-top: 1em;
  margin-bottom: 1em;
}

.photo {
  border-style: solid;
  border-color: #e1cd94;
}

h2 {
  margin: 8px;
}

p {
  margin: 5px;
}

/*Discover page */
main.discover {
  display: grid;
}

main picture img.gallery {
  width: 80%;
}
.gallery:hover {
  margin-left: 0;
  opacity: 1;
}

.gallery {
  margin: 10px;
  border-style: solid;
  border-color: #e1cd94;
}
/* Join page */

form fieldset {
  margin: 2rem 10px;
  border-radius: 0.4rem;
}

form legend {
  padding: 0.8rem; 
}

form div {
  margin: 5px;
}

form label.top {
  display: block;
  padding-top: 1rem;
  margin: 5px;
  font-size: 0.9em;
}

form label.top input {
  display:block;
  background-color: rgb(253, 242, 208);
  border-radius: 0.4rem;
  padding: .75rem;
}

form label.selectLevel {
  display: block;
  padding: .75rem;
}

form label textarea {
  margin: 8px;
  width: 98%;
  height: 10rem;
  border-radius: 0.4rem;
}

input.submitbtn {
  margin: 1rem;
  border-radius: 0.4rem;
}
/* Directory page */
main .directory {
  display:block;
}



.menu {
  margin: 5px;
}

.cards.list {
  display: grid;
  
}
.cards.list section {
  border: 2px solid #d4af5f;
  padding: 1em;
  border-bottom: none;

}
.cards.list section img {
  display: none;
}

.cards.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.cards.grid section {
  border: 1px solid black;
  border-radius: 0.4rem;
  margin: 1em;
  background-color: #f5f6fa;
  padding: 1em;
}
.cards.grid section span {
  margin: 5px;
}
.cards.grid section a {
  margin: 5px;
}
.cards.grid section img {
  margin: 1px;
}

/*----FOOTER------*/
footer {
  margin: 8px;
  background-color: #75dcf3;
  border: #d1f0e9 solid;
  text-align: center;
}

footer img {
  display: flex;
  margin-left: 5rem;
}

footer ul {
  list-style: none;
  display: flex;
  border-bottom: 2px solid rgba(204, 236, 234, 0.767);
  border-top: 2px solid rgba(204, 236, 234, 0.767);
}

footer ul li {
  margin-right: 1rem;
  padding: 5px;
  border-left: 2px solid rgba(204, 236, 234, 0.767);
}

footer span {
  margin: 8px;
}
