



body {
    font-size: 20px;

}

/*----HEADER------*/

header {
    display: flex;
    margin: 8px;
    background-color: #75DCF3;
    border: #D1F0E9 solid;
}

h1 {
    margin: 8px;
   
}

/*----NAVIGATION------*/
nav {
    background-color: #75DCF3;
    margin: 8px;
    border: #D1F0E9 solid;
}

nav button {
    margin: .2rem 2vw;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

nav ul.open {
    display: block;
}



nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    border-top: 2px solid rgba(204, 236, 234, 0.767);
}

nav ul li a:hover {
    background-color: #D1F0E9;
}

/*----MAIN------*/

main {
    margin: 8px;
}

h2 {
    margin: 8px;

}




/*----FOOTER------*/
Footer {
    margin: 8px;
    background-color: #75DCF3;
    border: #D1F0E9 solid;
    text-align: center;
    
}



footer ul {
    list-style: none;
    display: flex;
    border-bottom: 2px solid rgba(204, 236, 234, 0.767)
}

footer ul li {
    margin-right: 1rem;
    padding: 5px;
}

footer span {
    margin: 8px;
}



