
@media only screen and (min-width: 60em) {

    nav ul li a {
        padding: .5rem 1rem;
    }

    main picture img.gallery {
        width: auto;
    }

    form label.top {
        display: inline-grid;
    }

    main section.home-page-grid {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-column-gap: .5em;
    }

    main section div {
      border: solid 2px #d4af5f;
    }
    

    .photo {
      width: 80%;
      
    }

    div.cards {
      display: block;
      text-align: center;
      grid-column: 2/4;
      
      
      
    }

    div.cards div {
      display: grid;
      grid-template-rows: repeat(6, auto);
      justify-items: center;
      

    }

    div.cards div img {
      border:#d4af5f 1px solid;
      
    }
    /*directory*/
      
      .cards.list section img {
        display: none;
      }

      /*weather-api*/
      .weather-image {
        margin-left: 48%;
    }
    /*Contact page*/
    .contactp {
      display: grid;
      grid-template-columns: 1fr 2fr ;
      
    }
    input.submitbtn {
      width: 40%;
      height: 40%;
    }
  }
