
@media only screen and (min-width: 60em) {

    nav ul li a {
        padding: .5rem 1rem;
    }

    main picture img.gallery {
        width: auto;
    }

    form label.top {
        display: inline-grid;
    }
    /*directory*/
      
      .cards.list section img {
        display: none;
      }
      
    }
