
@media only screen and (min-width: 32.5em) {
    nav button {display: none;}
    
    nav ul#primary {
        display: flex;
        
    }

    nav ul li a {
        border: none;
        padding: 1.2rem 1rem;
        border-right: 2px solid rgba(204, 236, 234, 0.767);

    }


}