
@media only screen and (min-width: 32.5em) {
    nav button {display: none;}
    
    nav ul#primary {
        display: flex;
        
    }

    nav ul li a {
        border: none;
        padding: 1.2rem 1rem;
        border-right: 2px solid rgba(204, 236, 234, 0.767);

    }
    section {
        justify-content: center;
    }

    .gallery:hover {
        margin-left: 15px;
        opacity: 0.8;
    
    }
    form label.top {
        display: flex;
        padding-top: 1rem;
        margin: 5px;
        font-size: 0.9em;
        flex-direction: column;
        max-width: 25rem;
      }

      form label.top input {
        padding: .50rem;
      }

      /*directory*/

      .cards.list {
        display: grid;
        
      }
      .cards.list section {
        border: 1px solid black;
      
      }
      .cards.list section img {
        display: none;
      }
      .cards.grid section {
        border: 1px solid black;
        border-radius: 0.4rem;
        margin: 1em;
      }
      .cards.grid section img {
        margin: 1px;
      }


    }