


h2 {
    background-color: #75DCF3;
    margin: 20px;
    padding: 20px;
    border-style: solid;
    border-color: #D1F0E9;
}

header {
    display: grid;
    background-color: #75DCF3
}

body {
    font-size: 20px;

}

nav {
    margin: 5px;
}

p {
    margin: 20px;
}

h1 {
    text-align: center;
}

ul {
    display: flex;
    flex-flow: column;
}
li {
    margin: 10px;
}

footer {
    margin: 5px;
}

@media only screen and (min-width: 37.5em) {
    ul {
        flex-flow: row;
    }
    li {
        flex: auto;
    }

}

@media only screen and (min-width: 60em) {
    ul {
        background-color: aqua;
        border-style: solid;
        border-color: #9EDDEB;
    }
}