

nav {
    margin: 10px;
    padding: 5px;
}

header {
    display: flex;
    align-items: center;
    background-color: cornflowerblue;
    font-size: 21px;
}

img {
    border-style: groove;
}


footer {
    margin-top: 50px;
    text-align: center;
    background-color: cornflowerblue;
    font-size: 19px;
}

h2 {
    background-color: cornflowerblue;
    border: 10px;
}

main {
    
    display: grid;
    grid-template-columns: 1fr;
    font-size: 20px
    
}

section {
    margin: 10px;
    padding: 5px;

}