h1 {
  margin: 6px;
}
picture {
  display: block;
  width: 300px;
  height: 400px;
  margin: 8px;
  border: solid 1px black;
}

picture img[data-src] {
  filter: blur(0.2em);
}

picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}
